html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#renderCanvas {
  width: 100%;
  height: 100%;
}

#loadingScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #282c34;
  color: #61dafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

#loadingText {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #61dafb;
  animation: pulse 1.5s infinite;
}

#loadingBar {
  width: 50%;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #61dafb;
  overflow: hidden;
  margin-top: 10px;
}

#loadingBarFill {
  background: linear-gradient(to right, #61dafb, #21a1f1);
  width: 0;
  height: 100%;
  border-radius: 10px;
  animation: loading 3s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0.5;
  }
}

@keyframes loading {
  0%, 100% {
      width: 0;
  }
  50% {
      width: 100%;
  }
}

#fps {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 16px;
  color: white;
  top: 15px;
  right: 10px;
  width: 60px;
  height: 20px;
}

.logo {
  position: absolute;
  right: 50%;
  top: 2.5vh;
}


.ring {
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  border: solid 0.5vh;
  position: absolute;
  background: transparent;
  opacity: 0.3;
  transition: opacity 2s;
}

.blue {
  border-color: #0085c7;
  transform: rotateX(-45deg) scaleY(1.4142);
}

.yellow {
  border-color: #f4c300;
  left: 2.1vh;
  top: 1.35vh;
  transform: rotateX(0deg);
}

.black {
  border-color: black;
  left: 4.2vh;
  transform: rotateX(45deg) scaleY(1.4142);
}

.green {
  border-color: #009f3d;
  top: 1.35vh;
  left: 6.3vh;
  transform: translateZ(20vh) rotateX(70deg) scaleY(2.9238);
}

.red {
  border-color: #df0024;
  left: 8.4vh;
  transform: translateZ(-32vh) rotateX(80deg) scaleY(5.7588);
}

@keyframes animateRing {
  0% {
      opacity: 0.3;
      transform: none;
  }
  50% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, 500%) scale(3) rotate3d(1, 1, 0, 180deg);
      opacity: 1;
  }
  75% {
      transform: translate(-50%, 500%) scale(3) rotate3d(1, 1, 0, 360deg);
      opacity: 1;
  }
  100% {
      transform: none;
      opacity: 1;
  }
}

@keyframes pulsate {
  0% {
      box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.5);
  }
  50% {
      box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
  }
  100% {
      box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.5);
  }
}

.animate {
  animation: animateRing 2s ease-in-out forwards;
}

.collected {
  opacity: 1 !important;
}

.nonCollected {
  animation: pulsate 3s infinite ease-in-out;
}

#renderCanvas.menu-active {
  filter: blur(10px);
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
  z-index: 100;
  display: none;
}
#logo img {
  max-width: 100%;
  height: auto;
} 

.menu h1 {
  font-size: 3em;
  color: #fff;
}

.button-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.button-container button {
  padding: 20px 40px;
  margin: 0 20px;
  font-size: 1.5em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0056b3;
}

.graphic-options {
  display: none;
}

.graphic-options button {
  margin: 10px;
  font-size: 1.2em;
}

.graphic-options button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1.2em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.graphic-options button.selected {
  background-color: #0056b3;
}
